footer {
	position: absolute;
	width: 100%;
	background-color: #3F3F3F;
	color: #fff;
	padding: 30px 0 0 0;
	margin-top: 100px;

	// Below 34em (544px)
    @include media("<sm") {
        margin-top: 40px;
    }

	h4 {
		font-size: 15px;
		font-family: 'Lato', sans-serif;
		color: rgb(247, 248, 248);
		line-height: 1.2;
		text-transform: uppercase;
	}

	.logo {
		text-align: center;

		img {
			margin-bottom: 20px;
		}

		// Below 34em (544px)
	    @include media("<sm") {
	        margin-bottom: 20px;
	    }
	}

	.btn-report {
		background-color: $primary-color;
		color: #fff;
		letter-spacing: 1px;
		border-radius: 0;

		// Below 34em (544px)
	    @include media("<sm") {
	        margin-bottom: 20px;
	    }
	}

	ul {
		list-style: none;
		padding-left: 0;

		li {

			a {
				color: #DADBDB;
				line-height: 1;

				&:hover {
					color: #fff;
					opacity: .5;
					text-decoration: none;
				}
			}
		}
	}

	.copyright {
		display: initial;
		font-size: 12px;
		font-family: 'Lato', sans-serif;
		color: rgba(247, 248, 248, 0.8);
		line-height: 2.5;
		text-align: left;
	}

	.social-links {
		float: right;

		ul {
			display: flex;

			li {
				&:first-child {
					padding-right: 10px;
				}
			}
		}
	}

	hr {
		border-top: 1px solid #999;
	}
}

#report {
	.modal-dialog {
		.modal-content {
			border-radius: 0;

			.modal-body {
				form {
					.input-group {
						margin-bottom: 20px;

						.form-control {
							border-radius: 0;
						}
					}
					textarea.form-control {
						min-height: 150px;
						border-radius: 0;
					}
					button {
						width: 150px;
						height: 50px;
						text-transform: uppercase;
						background-color: transparent;
					}
				}
			}
		}
	}
}