footer {
	background-color: #3F3F3F;
	color: #fff;
	padding: 30px 0 10px 0;
	margin-top: 50px;

	h4 {
		color: #D3D3D3;
		padding-bottom: 20px;
	}

	.logo {
		text-align: center;
	}

	ul {
		list-style: none;
		padding-left: 0;

		li {

			a {
				color: #DADBDB;
				line-height: 1;

				&:hover {
					color: #fff;
					opacity: .5;
					text-decoration: none;
				}
			}
		}
	}

	.copyright {
		display: initial;
	}

	.social-links {
		float: right;

		ul {
			display: flex;

			li {
				&:first-child {
					padding-right: 10px;
				}
			}
		}
	}

	hr {
		border-top: 1px solid #999;
	}
}