#about-summary {
	padding: 100px 0;

	h1 {
		text-transform: capitalize;
	    color: #79CA9F;
	    font-size: 40px;
	    font-weight: bold;
	    padding-bottom: 20px;
	}

	.btn-more {
		border-radius: 32px;
    	padding: 15px 30px;
    	text-transform: uppercase;
    	font-size: 13px;
    	line-height: 1;
    	color: #fff;
    	background-color: #79CA9F;

    	&:hover {
    		background-color: #fff;
    		color: #79CA9F;
    		border: 1px solid #79CA9F;
    	}
	}

	.at-a-glance {
		padding: 20px 10px;
		margin-top: 20px;
		margin-left: 20px;
		width: 230px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		h4 {
			border-bottom: 1px solid #999;
			text-align: center;
		}

		ul {
			padding-left: 0;
			list-style: none;

			li {

				span {
					font-weight: bold;
				}
			}
		}
	}
}