.month {
    padding: 20px;
    width: 100%;
    background-color: #82ca9c;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 22.517px;
            font-family: "Roboto";
            color: rgb(255, 255, 255);
            line-height: 1.51;
            text-align: center;
        }
    }
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;

    li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }
}

.days {
    padding: 10px 0;
    background: #fff;
    margin: 0;

    li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 16px;
        color: #777;

        .active {
            padding: 5px;
            border-radius: 50%;
            background: #1abc9c;
            color: white !important
        }
    }
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}