.nav-tabs {
	margin-top: 50px;
	
    li.nav-item {
    	width: 50%;
    }
}

.tab-content {
	.tab-pane {
		form {
			margin: 20px 0;

			.form-group {
				select {
					width: 25%;

					// Below 34em (544px)
				    @include media("<sm") {
				        width: 100%;
				    }
				}
			}
		}
	}
}