.navbar {

	.nav {
		li {
		   a {
			 color: #fff;
			 padding: 10px 40px;
    		 padding-left: 0;
    		 line-height: 1.7;
		   }
		}

		.dropdown-menu {
			background-color: #82ca9c;
			border: 0;
			border-radius: 0;
		}
	}
}

.navbar-default {
	border: 0;
}

.navbar-default .navbar-nav>.active>a {
	background-color: transparent;
	color: #fff;
	opacity: .5;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: inherit;
    background-color: inherit;
}

.collapse.navbar-collapse {
    padding-left: 0;
}

@media (min-width: 768px) {
	.navbar-nav {
	    height: 50px;
	}
}
