#teacher-list {

	.nav {
		// Below 34em (544px)
	    @include media("<sm") {
	        width: 100%;
	    }
	}
	.table-responsive {

		#myTable {
			tr {
				td {
					img {
						width: 100px;
						height: 125px;
						display: inline-block;
					}
					.name {
						display: inline-block;
					}
					.designation {
						
					}
				}
			}
		}
	}
}

