#teacher-list {
	.table-responsive {

		#myTable {
			tr {
				td {
					img {
						width: 100px;
						height: 125px;
						display: inline-block;
					}
					.name {
						display: inline-block;
					}
					.designation {
						
					}
				}
			}
		}
	}
}

