#way-of-teaching {
	text-align: center;
	
	padding: 100px 0;

	h1 {
		text-transform: uppercase;
	    color: #79CA9F;
	    font-size: 40px;
	    font-weight: bold;
	    padding-bottom: 30px;
	}

	h4 {
		text-transform: capitalize;
		font-weight: bold;
	}

	p {
		padding: 10px;
	}
}