#way-of-teaching {
	text-align: center;
	padding: 90px 0;

	h1 {
		font-size: 50px;
		font-family: 'Lato', sans-serif;
		color: rgb(130, 202, 156);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 0.36;
		padding-bottom: 90px;
	}

	h4 {
		text-transform: capitalize;
		font-size: 20px;
		font-family: 'Lato', sans-serif;
		color: rgba(66, 66, 66, 0.902);
		font-weight: bold;
		line-height: 1.4;
		padding-top: 10px;
	}

	p {
		font-size: 15px;
		font-family: 'Lato', sans-serif;
		color: rgba(66, 66, 66, 0.749);
		line-height: 1.867;
		text-align: center;
	}
}